@{
  Layout = "_Layout";
}
<div class="btn-toolbar">
  <p>@Html.ActionLink("Create a new account", "Index", "Account", null,  new { @class = "btn btn-dark btn-large menu-btn" })</p>
  <p>@Html.ActionLink("Add an treat", "Create", "Treats", null,  new { @class = "btn btn-dark btn-large menu-btn" })</p>
  <p>@Html.ActionLink("Add a flavor", "Create", "Flavors",  null, new { @class = "btn btn-dark btn-large menu-btn" })</p>
  <p>@Html.ActionLink("Add a patron", "Create", "Patrons",  null, new { @class = "btn btn-dark btn-large menu-btn" })</p>
</div>
<br>

<!-- Contact form -->
<div class="contact-form">
 <div class="container">
  <form>
   <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h1>Let us know how we are doing!</h1> 
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 right">
       <div class="form-group">
         <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
       </div>
       <div class="form-group">
         <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
       </div>
       <div class="form-group">
         <textarea class="form-control form-control-lg">
          
         </textarea>
       </div>
       <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
    </div>
   </div>
  </form>
 </div>
</div>