@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<h4>Add a new treat</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.TreatName)
    @Html.TextBoxFor(model => model.TreatName)
    <input type="submit" value="Add new treat" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>